In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import dshai.utils as ds

import gspread
from oauth2client.service_account import ServiceAccountCredentials as SAC

In [2]:
# ds.hello()
ds.hello()

Hello World!

In [3]:
!pwd

/home/jedi/Desktop/dev_ds/ms_data_engineer_assessment/solution

In [4]:
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']
creds = SAC.from_json_keyfile_name(
            'gspread-270619-05d12e0e0262.json', SCOPES)

gsp = gspread.authorize(creds)

gsp

In [5]:
base_url = 'https://docs.google.com/spreadsheets/d'
sheet_id = '1ZtGa3ykeYOK_WvE7JHoGX_zvFE4drfaHVTqtKWZ69L8'

In [6]:
gsp.open_by_url(f'{base_url}/{sheet_id}')

## Loading the data from google sheets

This fetches the raw data from google spread sheets. The API call takes some time so we run it once. We can run it again if data is updated

In [7]:
from flask_apps.services.resources.gspread_service import GspreadService
from flask_apps.services.resources.abstract_resource import AbstractSpreadSheetResource

from flask_apps.services.resources.admissions.ApplicationsRes import AllApplicationsResource
from flask_apps.services.resources.admissions.ClassRes import ClassResource
from flask_apps.services.resources.admissions.StudentsClassRes import StudentsClassResource

from flask_apps.services.resources.enrollments.ModulesRes import ModulesResource 
from flask_apps.services.resources.enrollments.BaseClassByModuleRes import BaseClassByModuleRes

from flask_apps.services.resources.outcomes.OutcomesRes import OutcomesResource


# all_applications = AllApplicationsResource()
# all_applications.fetch()
# all_applications.process()

In [8]:
# class_ = ClassResource()
# class_.fetch()
# class_.process()

In [9]:
# student_class = StudentsClassResource()
# student_class.fetch()
# student_class.process()

In [10]:
# modules = ModulesResource()
# modules.fetch()
# modules.process()

In [11]:
# class_byMod = BaseClassByModuleRes()
# class_byMod.fetch()
# class_byMod.process()

In [12]:
# outcomes = OutcomesResource()
# outcomes.fetch()
# outcomes.process()

In [13]:
# type(outcomes.parsed_data)
import pickle

with open('pickles/all_applications.p', "rb") as f:
    all_applications = pickle.load(f)
    
with open('pickles/classes.p', "rb") as f:
    classes = pickle.load(f)

with open('pickles/studentbyclass.p', "rb") as f:
    studentbyclass = pickle.load(f)
    
with open('pickles/modules.p', "rb") as f:
    modules = pickle.load(f)
    
with open('pickles/classbyMod.p', "rb") as f:
    classbyMod = pickle.load(f)
    
with open('pickles/outcomes.p', "rb") as f:
    outcomes = pickle.load(f)

In [14]:
parsed_class = classes
parsed_apps = all_applications
student_res = studentbyclass

# parsed_class
# parsed_apps
# student_res['HC_1_students']

0                 name                         email              phone
1        Conor Goddard        conorgoddard@gmail.com      0151 496 0067
2         Joan Jenkins         joanjenkins@yahoo.com      0115 496 0699
3          Tracy Young        tracyyoung@hotmail.com      (0121)4960644
4          Dominic Ali          dominicali@yahoo.com    (0909) 879 0555
5        Clifford Webb      cliffordwebb@hotmail.com       0909 8790740
..                 ...                           ...                ...
396       Nicole Brown       nicolebrown@hotmail.com  +44(0)306 9990975
397  Lorraine O'Connor  lorraineo'connor@hotmail.com     +44131 4960600
398    Frederick Hobbs    frederickhobbs@hotmail.com    +44909 879 0484
399          Amy Wells          amywells@hotmail.com   +44(0)1184960339
400         Tom Davies           tomdavies@gmail.com    (0141) 496 0698

[400 rows x 3 columns]

In [15]:
parsed_apps.keys()

dict_keys(['all_applications'])

In [16]:
all_apps = parsed_apps['all_applications'].copy()
all_apps

,name,email,gender,phone,class,date
1,Jay Austin,jayaustin@yahoo.com,M,(0117)4960344,HC_1,2009-04-19
2,Geoffrey Wilkinson,geoffreywilkinson@hotmail.com,F,1632960293,HC_1,2009-04-27
3,Jasmine Nash,jasminenash@hotmail.com,M,(0141) 4960724,HC_2,2009-12-06
4,Jacob Parkin,jacobparkin@hotmail.com,F,0117 4960580,HC_1,2009-04-13
5,Robin Barton,robinbarton@gmail.com,F,(0113) 4960945,HC_1,2009-04-09
...,...,...,...,...,...,...
20306,Melissa Lambert,melissalambert@yahoo.com,F,+44(0)118 496 0614,HC_12,2020-06-18
20311,Molly Bailey,mollybailey@hotmail.com,M,(0808) 157 0392,HC_12,2020-06-19
20318,Molly McDonald,mollymcdonald@gmail.com,F,+441614960146,HC_12,2020-06-28
20319,Clare Walker,clarewalker@hotmail.com,M,+44909 8790697,HC_12,2020-07-06
20323,Roy Francis,royfrancis@hotmail.com,M,+441314960191,HC_12,2020-06-22

In [17]:
all_apps[['first_name', 'last_name']] = all_apps['name'].str.split(pat=' ', expand=True)[[0, 1]]

In [18]:
all_apps.shape

(6782, 8)

In [19]:
all_apps.dtypes

0
name          object
email         object
gender        object
phone         object
class         object
date          object
first_name    object
last_name     object
dtype: object

In [20]:
clean_resources = [parsed_class, parsed_apps, student_res]
# for k, v in raw_admissions.items():
#         print(f"{k:<20}:{v.shape[0]:>10}, {v.shape[1]:}")

for i in clean_resources:
    for k, v in i.items():
        print(f"{k:<20}:{v.shape[0]:>10}, {v.shape[1]:}")

classes             :        12, 4
all_applications    :      6782, 6
HC_1_students       :       400, 3
HC_2_students       :       400, 3
HC_3_students       :       400, 3
HC_4_students       :       400, 3
HC_5_students       :       400, 3
HC_6_students       :       400, 3
HC_7_students       :       400, 3
HC_8_students       :       400, 3
HC_9_students       :       400, 3
HC_10_students      :       400, 3
HC_11_students      :       400, 3
HC_12_students      :       400, 3

In [21]:
resources = ["ClassResource", "AllApplicationsResource", "StudentsClassResource"]

for i in range(len(resources)):
    print(resources[i])

ClassResource
AllApplicationsResource
StudentsClassResource

In [22]:
from flask_apps.models.AbstractModel import AbstractModel
from flask_apps.models.Classes import Classes
from flask_apps.models.Classes import ClassesSql

from flask_apps.services.db.db_handler import PostgresDBService
import psycopg2

In [23]:
# classes_[['start_date', 'end_date']] = classes_['code'].str.rsplit(pat='_', n=2, expand=True)[[1, 2]]


cls_sql = ClassesSql()

cls_indx0 = classes['classes'].iloc[0]
cls_indx1 = classes['classes'].iloc[1]

clss0 = Classes(cls_indx0['name'], cls_indx0['code'],cls_indx0['start_date'],cls_indx0['end_date'])
clss1 = Classes(cls_indx1['name'], cls_indx1['code'],cls_indx1['start_date'],cls_indx1['end_date'])

clss0.__dict__

{'id': None,
 'name': 'HC_1',
 'code': 'HC_1_2009-02-03_2009-07-21',
 'start_date': '2009-02-03',
 'end_date': '2009-07-21'}

In [24]:
clss1.__dict__

{'id': None,
 'name': 'HC_2',
 'code': 'HC_2_2010-04-24_2010-10-09',
 'start_date': '2010-04-24',
 'end_date': '2010-10-09'}

In [25]:
cls_sql.save(clss0)

{'message': 'Cohort aleady exists'}

In [26]:
cls_sql.save(clss1)

{'message': 'Cohort aleady exists'}

In [27]:
# cls_sql.get_by_name(cls_indx0['name'])
# cls_sql.save(clss0)
# cls_sql.get_by_id(1)
# clss0.id
classes_ = cls_sql.get_all()

In [28]:
# parse_classes(sheet_name, raw_df)->pd.DataFrame:
# help(classes)
for cls in classes_:
    print(cls)

[1, 'HC_1', 'HC_1_2009-02-03_2009-07-21', datetime.date(2009, 2, 3), datetime.date(2009, 7, 21)]
[2, 'HC_2', 'HC_2_2010-04-24_2010-10-09', datetime.date(2010, 4, 24), datetime.date(2010, 10, 9)]
[3, 'HC_3', 'HC_3_2011-02-14_2011-08-01', datetime.date(2011, 2, 14), datetime.date(2011, 8, 1)]
[4, 'HC_4', 'HC_4_2012-05-28_2012-11-12', datetime.date(2012, 5, 28), datetime.date(2012, 11, 12)]
[5, 'HC_5', 'HC_5_2013-01-17_2013-07-04', datetime.date(2013, 1, 17), datetime.date(2013, 7, 4)]
[6, 'HC_6', 'HC_6_2014-04-05_2014-09-20', datetime.date(2014, 4, 5), datetime.date(2014, 9, 20)]
[7, 'HC_7', 'HC_7_2015-05-02_2015-10-17', datetime.date(2015, 5, 2), datetime.date(2015, 10, 17)]
[8, 'HC_8', 'HC_8_2016-05-14_2016-10-29', datetime.date(2016, 5, 14), datetime.date(2016, 10, 29)]
[9, 'HC_9', 'HC_9_2017-01-07_2017-06-24', datetime.date(2017, 1, 7), datetime.date(2017, 6, 24)]
[10, 'HC_10', 'HC_10_2018-01-25_2018-07-12', datetime.date(2018, 1, 25), datetime.date(2018, 7, 12)]
[11, 'HC_11', 'HC_11_2019-07-12_2019-12-27', datetime.date(2019, 7, 12), datetime.date(2019, 12, 27)]
[12, 'HC_12', 'HC_12_2020-03-12_2020-08-27', datetime.date(2020, 3, 12), datetime.date(2020, 8, 27)]

In [29]:
test_cls = classes['classes'].iloc[:2]

test_cls.to_records()

rec.array([(1, 'HC_1', 'HC_1_2009-02-03_2009-07-21', '2009-02-03', '2009-07-21'),
           (2, 'HC_2', 'HC_2_2010-04-24_2010-10-09', '2010-04-24', '2010-10-09')],
          dtype=[('index', '<i8'), ('name', 'O'), ('code', 'O'), ('start_date', 'O'), ('end_date', 'O')])

In [30]:
test_dict = test_cls.to_dict(orient='list')
test_dict.keys()

dict_keys(['name', 'code', 'start_date', 'end_date'])

In [31]:
for i in test_dict.keys():
    print(i)

name
code
start_date
end_date

In [32]:
classes.keys()

dict_keys(['classes'])

In [35]:
anon_test = classes['classes'].to_dict()
anon_test.keys()

dict_keys(['name', 'code', 'start_date', 'end_date'])

In [36]:
# for i in test_dict:
#     print(i['name'])

In [37]:
studentbyclass.keys()

dict_keys(['HC_1_students', 'HC_2_students', 'HC_3_students', 'HC_4_students', 'HC_5_students', 'HC_6_students', 'HC_7_students', 'HC_8_students', 'HC_9_students', 'HC_10_students', 'HC_11_students', 'HC_12_students'])

In [43]:
studentbyclass['HC_1_students']

0                 name                         email              phone
1        Conor Goddard        conorgoddard@gmail.com      0151 496 0067
2         Joan Jenkins         joanjenkins@yahoo.com      0115 496 0699
3          Tracy Young        tracyyoung@hotmail.com      (0121)4960644
4          Dominic Ali          dominicali@yahoo.com    (0909) 879 0555
5        Clifford Webb      cliffordwebb@hotmail.com       0909 8790740
..                 ...                           ...                ...
396       Nicole Brown       nicolebrown@hotmail.com  +44(0)306 9990975
397  Lorraine O'Connor  lorraineo'connor@hotmail.com     +44131 4960600
398    Frederick Hobbs    frederickhobbs@hotmail.com    +44909 879 0484
399          Amy Wells          amywells@hotmail.com   +44(0)1184960339
400         Tom Davies           tomdavies@gmail.com    (0141) 496 0698

[400 rows x 3 columns]

In [44]:
hc  = 'HC_14_students'

In [45]:
hc.rsplit('_', 1)[0]

'HC_14'

In [46]:
from flask_apps.models.Admissions import Admissions, AdmissionsSql
from flask_apps.models.People import People, PeopleSql

people_sql = PeopleSql()
classes_sql = ClassesSql()
admissions_sql = AdmissionsSql()

In [49]:

admission_lst = []

for sheet in studentbyclass.keys():
    
    
    admissions_res = studentbyclass[sheet].to_dict(orient='records')
    
    for entry in admissions_res[:2]:
        class_name = sheet.rsplit('_',1)[0]
        email = entry.get('email').strip
        print(email)
#         person_obj= people_sql.get_by_email(email)
#         class_obj= classes_sql.get_by_name(class_name)
        
#         print(person_obj['name'])
        
    
#     for entry in admissions_res

conorgoddard@gmail.com
joanjenkins@yahoo.com
jaynebrown@gmail.com
traceyabbott@gmail.com
arthuredwards@gmail.com
lisacartwright@gmail.com
zoehopkins@hotmail.com
eileenhowell@gmail.com
leslieharris@hotmail.com
paulrowley@gmail.com
cameronwells@yahoo.com
martynbruce@yahoo.com
deniseroberts@hotmail.com
rhyshutchinsonZ@gmail.com
teresawong@yahoo.com
joanrobinson@yahoo.com
geraldhunt@gmail.com
joelleonard@hotmail.com
marcusbryan@yahoo.com
teresathornton@gmail.com
barrynorman@hotmail.com
leighroberts@gmail.com
colinsmith@yahoo.com
francescawalsh@yahoo.com

In [52]:
d = people_sql.get_by_email('conorgoddard@gmail.com')
d

In [ ]:
admissions_res = studentbyclass['HC_1_students'].to_dict(orient='records')

admissions_res[:5]